<!DOCTYPE html>
<html>

<head>
    <title>My first Vue app</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        {{ message }}
        <!-- INTERPOLATION CLASSIQUE -->
        <a v-bind:href="link">
            <!-- LIER AVEC LES ATTRIBUTS -->
            ange0
        </a>
        <span v-if="seen">Je suis présent</span><!-- SAVOIR SI UN ELEMENT EST PRESENT OU PAS -->

       
        <button v-on:click="reverseMessage">Reverse Message</button><!-- EVENEMENT CLICK -->
        <input v-model="message"><!-- LIAISON BIDIRECTIONNEL -->
        <todo-item
            v-for="item in languages"
            v-bind:todo="item"
            v-bind:key="item.id"
        >

        </todo-item>
    </div>
   

    <script>
 /* ------------------------------ CREATION DE MON PROPRE COMPOSANT l'ordre est important---------------- */
        // Define a new component called todo-item
       // Define a new component called todo-item
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{todo.text}}</li>'
         })
       var app=new Vue({
            el: '#app',
            data: {
                message: 'Hello ,je suis ange developpeur vuejs',
                link: "https://ange0.com",
                seen: false,
                languages: [
                    { id: 0, text: 'Python' },
                    { id: 1, text: 'JS' },
                    { id: 2, text: 'PHP' }
                ]
            },
            methods : {
                    reverseMessage: function () {
                        this.message = this.message.split('').reverse().join('')
                    }
            }
        })

       

        

        /////////////////////////////////////////////// L'instance Vue ////////////////////////////////////////

    var data = {a:1}
    var vm = new Vue({
        data:data,
        created: function () { // cycle de vie d'un composant vuejs appeler quand le composant est creer
    // `this` points to the vm instance
             console.log('le composant est créé')
        }
        // exemple de data qui n'ont pas de valeur initiale
       /*  data: {
            newTodoText: '',
            visitCount: 0,
            hideCompletedTodos: false,
            todos: [],
            error: null
        } */
    });

    console.log(vm.a);  // afficher la valeur de a =>  1
    console.log(data.a) // afficher la valeur de a =>  1
        
    data.a=3;
    console.log(data.a); // afficher la nouvelle  valeur de a  => 3
    console.log(vm.a);  // afficher la nouvelle  valeur de a =>  3
    </script>
</body>

</html>